.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

/* .flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border-radius: 25px;
} */

span, h3 {
  color: #404040;
  border-bottom: 50px;

}
button {
  width: 150px;
}

body {
  background-color: #3581e6;
}

.item {
  align-self: center;
  background-color: #ffff;
  border-radius: 25px;
  padding: 100px;
  margin-top: 100px;
  border: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.botao {
  position: absolute;
  margin-left: 350px;
  margin-top: -220px;
}
.voltar {
  background-color: DodgerBlue;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}
.voltar:hover {
  background-color: rgb(94, 174, 253);
}
